.search
{

    /* position: absolute; */
    /* bottom: 90px; */
    height: 100%;
    /* border: 5px solid pink; */
    color:white;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.search__header
{
    text-align: center;
    /* border: 1px solid red; */
    font-size: 30px;
    /* font-weight: 500; */
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.search__body
{
    /* border: 3px solid red; */
    display: flex;
    flex: 1.0;
    max-height: 70vh;
    /* height: 71.7vh; */
    flex-wrap: wrap;
    overflow-y: scroll;
    column-fill: balance;
}
input
{
    outline: none;
    font-size: 20px;
    width: 95%;
    height: 50px;
    border-radius: 3px;
    border: 0px;
    text-align: center;
}